h1.a1{
	background-color:green;
	text-align:center;
	color:yellow;
	text-shadow:red;
	font-size:50px;
	margin-top:1px;
	border:2px solid red;
	height:70px;
}
p.a2{
	background-color:green;
	text-align:center;
	color:yellow;
	text-shadow:red;
	font-size:50px;
	margin-top:1px;
	border:2px solid red;
	height:1100px;
	margin-left:50px;
	margin-right:50px;
}
p.a2 a{

	text-align:center;
	color:red;
}